<div class="vendors col-sm-12">

  <ol class="breadcrumb row">
    <li><a href = "/vendors/index">All Vendors</a></li>
    <li class="active">Add Vendor</li>
  </ol>

  <form id = "add_vendor_form" class = "form-horizontal" role = "form">

  	<h1>Vendor Information</h1>

  	<div class = "form-group">
  		<label class = "control-label col-sm-2" for = "vendor_name">Vendor Name</label>
  		<div class="col-sm-4">
  			<input class = "form-control" type = "text" id = "vendor_name" placeholder = "Name" required>
  		</div>
      <div class = "required-field-label col-sm-1" >* required</div>
  	</div>
  	<div class = "form-group">
  		<label class = "control-label col-sm-2" for = "vendor_id">Vendor ID</label>
  		<div class = "col-sm-4">
  			<input class = "form-control" type = "text" id = "vendor_id" placeholder = "ID">
  		</div>
  	</div>
  	<div class = "form-group">
  		<label class = "control-label col-sm-2" for = "website_url">Website URL</label>
  		<div class = "col-sm-4">
  			<input class = "form-control" type = "text" id = "website_url" placeholder = "www.example.com">
  		</div>
  	</div>
  	<div class = "form-group">
  		<label class = "control-label col-sm-2" for = "address">Address</label>
  		<div class = "col-sm-4">
  			<input class = "form-control" type = "text" id = "address" placeholder = "123 Example Lane">
  		</div>
  	</div>
  	<div class = "form-group">
  		<label class = "control-label col-sm-2" for = "state">State</label>
  		<div class = "col-sm-4">
  			<input class = "form-control" type = "text" id = "state" placeholder = "China">
  		</div>
  	</div>
  	<div class = "form-group">
  		<label class = "control-label col-sm-2" for = "zipcode">Zipcode</label>
  		<div class = "col-sm-4">
  			<input class = "form-control" type = "text" id = "zipcode" placeholder = "123456">
  		</div>
  	</div>

  	<h1>Point of Contact Information</h1>

    <div id = "poc_labels" class = "form-group">
      <div class = "col-xs-2">
        Name
      </div>
      <div class = "col-xs-4">
        Email
      </div>
      <div class = "col-xs-2">
        Phone Number
      </div>
      <div class = "col-xs-2">
        Contact Type
      </div>
    </div>

  	<div class="form-group poc-group">
        <div class="col-xs-2">
            <input type = "text" class = "form-control" name = "poc[0].name" placeholder = "John Doe" />
        </div>
        <div class="col-xs-4">
            <input type = "text" class = "form-control" name = "poc[0].email" placeholder = "contact@example.com" />
        </div>
        <div class="col-xs-2">
            <input type = "text" class = "form-control" name = "poc[0].phone_number" placeholder = "1(222)333-4444" />
        </div>
        <div class="col-xs-2">
            <input type = "text" class = "form-control" name = "poc[0].contact_type" placeholder = "Admin, Sales" />
        </div>
    </div>

    <div class="form-group poc-group hide" id = "poc_template">
        <div class="col-xs-2">
            <input type = "text" class = "form-control" name = "name" placeholder = "John Doe" />
        </div>
        <div class="col-xs-4">
            <input type = "text" class = "form-control" name = "email" placeholder = "contact@example.com" />
        </div>
        <div class="col-xs-2">
            <input type = "text" class = "form-control" name = "phone_number" placeholder = "1(222)333-4444" />
        </div>
        <div class="col-xs-2">
            <input type = "text" class = "form-control" name = "contact_type" placeholder = "Admin, Sales, etc." />
        </div>
        <div class="col-xs-1">
            <button type = "button" class = "btn btn-default remove_button">- Remove</button>
        </div>
    </div>

    <div class = "form-group poc-group">
      <div class="col-xs-2">
          <button type = "button" class = "btn btn-default add_button">+ Add Contact</button>
      </div>
    </div>

    <div class = "form-group" id = "submit_and_cancel">
      <div class = "col-sm-2"></div>
      <div class = "col-sm-1">
        <button class = "btn btn-default">Cancel</button>
      </div>
      <div class = "col-sm-2">
        <button class = "btn btn-primary" id = "submit_button">Create Vendor</button>
      </div>
    </div>

  </form>

</div>