<% $sumbit_text = "Submit Changes" %>

<div class="vendors col-sm-12">

  <ol class="breadcrumb row">
    <li><%= link_to "All Vendors", "/" %></li>
    <li class="active">Edit Vendor</li>
  </ol>

  <%= render :partial => 'vendor_details' %>

</div>